# Ignore build output
/app.js

# Ignore node_modules except for the top-level ones
/node_modules


# Ignore local npm package directories
*.npm/

# Ignore chopsticks artifacts
db.sqlite
db.sqlite-shm
db.sqlite-wal

# Ignore any chopsticks output
*.html

# Ignore TypeScript configuration file
tsconfig.json
